$b-height: 1.15em;
$el-size: 10vh;
$DNA_scale: 0.45; //divides '$el-size'
$t: 15s;
$td: -0.89;

$c_a: rgb(255, 132, 144) rgb(255, 115, 124) rgb(245, 247, 249); // top / bottom / BG
$c2_a: rgb(255, 218, 178) rgb(255, 50, 155); // Fade-anim colors

$ease-circ: cubic-bezier(0.42, 0, 0.58, 1);

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	// line-height: 100vh;
	background-color: #d3d3d3;
	font-family: 'Garamond', helvetica neue, helvetica, sans-serif;
}

.page-layout {
	display: flex;
	flex-direction: row;
	height: 800vh;
}

.sidebar {
	width: 25%;
	height: 100%;
	position: relative;
	flex: 1;
}

.vertical-navbar {
	width: 15%;
	// background-color: black;
}

.main-display {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
	padding-left: 5%;
}

.main-display-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	// align-items: center;
	justify-content: center;
}

.DNA_cont {
	display: flex;
	flex-direction: row; /* Stack nucleobases vertically */
	align-items: center; /* Center nucleobases horizontally */
	height: auto; /* Take up full height of parent (sidebar) */
	transform: scale($DNA_scale);
	rotate: 90deg;
	width: 100%;
}

.nucleobase {
	position: relative;
	vertical-align: middle;
	width: $el-size; /* Adjust as needed */
	height: $el-size; /* Adjust as needed */
	border-radius: 50%;
	margin-right: $el-size * 1.7; /* Spacing between nucleobases */

	&:before,
	&:after {
		content: '';
		display: inline-block;
		width: $el-size;
		height: $el-size;
		border-radius: 50%;
		position: absolute;
	}

	&:hover {
		transform: scale(1.2); /* Enlarging effect on hover */
	}

	@for $i from 1 through 30 {
		&:nth-child(#{$i}) {
			animation-delay: $i * ($td * $t);
			&:before {
				animation: animBefore $t $ease-circ infinite;
				animation-delay: $i * ($td * $t);
				background-color: nth($c_a, 1);
			}
			&:after {
				animation: animAfter $t $ease-circ infinite;
				animation-delay: $i * ($td * $t);
				background-color: nth($c_a, 2);
			}
		}
	}
}

.nucleobase.enlarge {
	transform: scale(1.2);
}

@keyframes animBefore {
	0% {
		top: $el-size * -2;
		z-index: 1;
	}

	25% {
		transform: scale(1.2);
		z-index: 1;
	}

	50% {
		top: $el-size * 2;
		z-index: -1;
	}

	75% {
		background-color: nth($c2_a, 1);
		transform: scale(0.8);
		z-index: -1;
	}

	100% {
		top: $el-size * -2;
		z-index: -1;
	}
}

@keyframes animAfter {
	0% {
		top: $el-size * 2;
		z-index: -1;
	}

	25% {
		background-color: nth($c2_a, 2);
		transform: scale(0.8);
		z-index: -1;
	}

	50% {
		//  background-color: nth($c_a, 2) ;
		top: $el-size * -2;
		z-index: 1;
	}

	75% {
		transform: scale(1.2);
		z-index: 1;
	}

	100% {
		top: $el-size * 2;
		z-index: 1;
	}
}

@keyframes superscript {
	0% {
		opacity: 0;
		transform: translateY(-1em);
	}
	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}

h1 {
	height: 1em;
	// width: 100%;
	// left: 0.005em;
	// top: 7.85vh;
	// margin-bottom: 50px;
	font-size: 10.85vh;
	font-weight: 900;
	letter-spacing: 0.0425em;
	opacity: 0.85;
	color: nth($c2_a, 2);
	transform: scale(1);

	animation: superscript 1.6s cubic-bezier(0.25, 0, 0.2, 1) forwards;
}

h2 {
	width: 100%;
	left: 0.05em;
	font-weight: 600;
	letter-spacing: 0.0225em;
	opacity: 0.85;
	color: nth($c2_a, 2);
	transform: scale(1);

	animation: superscript 2.6s cubic-bezier(0.25, 0, 0.2, 1) forwards;
}

p {
	animation: superscript 5.6s cubic-bezier(0.25, 0, 0.2, 1) forwards;
}
