$b-height: 1.15em;
$el-size: 10vh;
$DNA_scale: 0.45; //divides '$el-size'
$t: 15s;
$td: -0.89;

$c_a: rgb(255, 132, 144) rgb(255, 115, 124) rgb(245, 247, 249); // top / bottom / BG
$c2_a: rgb(255, 218, 178) rgb(255, 50, 155); // Fade-anim colors

$ease-circ: cubic-bezier(0.42, 0, 0.58, 1);

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	font-family: Garamond, helvetica neue, helvetica, sans-serif;
}

.page-layout {
	display: flex;
	flex-direction: row;
	height: 800vh;
}

.dna-bar {
	width: 22.5%;
	height: 100%;
	position: relative;
	flex: 1;
}

.vertical-navbar {
	display: flex;
	position: sticky;
	top: 0;
	height: 100vh;
	flex-direction: column;
	justify-content: space-around;
	width: 12.5%;
}

.vertical-navbar h2 {
	text-align: center;
	margin: 0;
	height: fit-content;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: inherit;
}

.vertical-navbar a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	color: black;
	height: fit-content;
	border-style: solid;
	border-radius: 5%;
	padding: 5%;
	border-color: rgb(255, 218, 178);
	color: nth($c2_a, 2);

	&:hover {
		background-color: rgb(255, 115, 124, 0.2);
		color: white;
	}
}

.vertical-navbar a.active {
	background-color: black; /* Highlight the active menu item */
}

.main-display {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
}

.contact-bar {
	width: 5%;
	display: flex;
	position: sticky;
	top: 0;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 2%;
	// background-color: rgb(1, 1, 1, 0.1);
}

.contact-icon {
	margin-bottom: 80%;
	height: 48px;
	width: auto;
	border-radius: 5px;
}

.main-display-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: fit-content;
	align-items: center;
	justify-content: center;
	padding-left: 2%;
}

.display-container-image {
	margin: 1%;
	display: block;
	max-width: 800px;
	height: auto;
	border-radius: 50%;
	overflow: hidden; /* Clip the image to the circular shape */
}

.DNA_cont {
	display: flex;
	flex-direction: row; /* Stack nucleobases vertically */
	align-items: center; /* Center nucleobases horizontally */
	height: auto; /* Take up full height of parent (sidebar) */
	transform: scale($DNA_scale);
	rotate: 90deg;
	width: 100%;
}

.nucleobase {
	position: relative;
	vertical-align: middle;
	width: $el-size;
	height: $el-size;
	border-radius: 50%;
	margin-right: $el-size * 1.7; /* Spacing between nucleobases */

	&:before,
	&:after {
		content: '';
		display: inline-block;
		width: $el-size;
		height: $el-size;
		border-radius: 50%;
		position: absolute;
	}

	&:hover {
		transform: scale(1.2); /* Enlarging effect on hover */
	}

	@for $i from 1 through 300 {
		&:nth-child(#{$i}) {
			animation-delay: $i * ($td * $t);
			&:before {
				animation: animBefore $t $ease-circ infinite;
				animation-delay: $i * ($td * $t);
				background-color: nth($c_a, 1);
			}
			&:after {
				animation: animAfter $t $ease-circ infinite;
				animation-delay: $i * ($td * $t);
				background-color: nth($c_a, 2);
			}
		}
	}
}

// .nucleobase.enlarge {
// 	transform: scale(1.2);
// }

@keyframes animBefore {
	0% {
		top: $el-size * -2;
		z-index: 1;
	}

	25% {
		transform: scale(1.2);
		z-index: 1;
	}

	50% {
		top: $el-size * 2;
		z-index: -1;
	}

	75% {
		background-color: nth($c2_a, 1);
		transform: scale(0.8);
		z-index: -1;
	}

	100% {
		top: $el-size * -2;
		z-index: -1;
	}
}

@keyframes animAfter {
	0% {
		top: $el-size * 2;
		z-index: -1;
	}

	25% {
		background-color: nth($c2_a, 2);
		transform: scale(0.8);
		z-index: -1;
	}

	50% {
		//  background-color: nth($c_a, 2) ;
		top: $el-size * -2;
		z-index: 1;
	}

	75% {
		transform: scale(1.2);
		z-index: 1;
	}

	100% {
		top: $el-size * 2;
		z-index: 1;
	}
}

@keyframes superscript {
	0% {
		opacity: 0;
		transform: translateY(-1em);
	}
	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}

h1 {
	// height: 1em;
	// width: 100%;
	// left: 0.005em;
	// top: 7.85vh;
	// margin-bottom: 50px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 9.85vh;
	font-weight: 900;
	letter-spacing: 0.0425em;
	opacity: 0.85;
	color: nth($c2_a, 2);
	transform: scale(1);

	animation: superscript 1.6s cubic-bezier(0.25, 0, 0.2, 1) forwards;
}

h2 {
	width: 100%;
	left: 0.05em;
	font-weight: 600;
	letter-spacing: 0.0225em;
	opacity: 0.85;
	color: nth($c2_a, 2);
	transform: scale(1);

	animation: superscript 2.6s cubic-bezier(0.25, 0, 0.2, 1) forwards;
}

.about-text {
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	max-width: 800px; /* Adjust line length based on design */
	margin: 0; /* Center the text container */
}

.about-text p {
	margin-bottom: 1.5em;
}

// Card content
.card {
	display: flex;
	background-color: #f5f5f5;
	border-radius: 8px;
	padding: 20px;
	margin: 20px;
	width: 80%;

	// &:hover {
	// border-style: solid;
	// border-width: 2px;
	// border-color: nth($c2_a, 2);
	// }
}

.card-image {
	flex: 0 0 33%;
	padding-right: 20px;
	margin: auto;
}

.card-image img {
	max-width: 100%;
	height: auto;
}

.card-content {
	flex: 1;
}

.card-title {
	font-size: 1.8rem;
	font-weight: 900;
	margin: 0;
}

.card-date {
	font-size: 0.9rem;
	color: #666;
	margin: 4px 0;
}

.card-description {
	font-size: 1.1rem;
	line-height: 2rem;
	margin: 10px 0 0;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 10%;
	margin-top: 5%;
}
